/* Utility */
:root {
--emerald: rgba(26, 188, 156, 1);
--lightblack: rgba(44, 62, 80, 1); /* anche per stella */
--white: rgba(255, 255, 255, 1);
--section-black: rgba(51, 51, 51, 1);
--darkblue: rgba(58, 84, 109, 1);
--black: rgba(0, 0, 0, 1);
--lightgrey: #949CA3; 
}

body {
    color: var(--black);
}


/* Style nav */

nav {
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
}

/* a:hover .my-hover {
    color: var(--emerald);
} */

.my-text {
    color: var(--white);
}

.my-toggler {
    color: var(--lightgrey);
}

.bg-lightblack {
    background-color: var(--lightblack);
}

.lightblack-txt {
    color: var(--lightblack);
}

/* Style main */

.bg-green {
    background-color: var(--emerald);
    color: var(--white);
}

.bg-darkblue {
    background-color: var(--darkblue);
}

section {
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

#hero img {
    width: 70%;
    max-width: 100%;
    padding-bottom: 1rem;
}

.line {
    border: 1px solid;
    width: 20%;
    height: 3px;
    border-radius: 5px;
}

.star-deco i {
    font-size: 2rem;
}

.bg-white {
    background-color: var(--white);
}

.pic {
    border-radius: 10px;
}

#portfolio img {
    max-width: 100%;
    padding-bottom: 1.5rem;
    overflow: hidden;
}



